.cart-total-page  {
	padding-top: 31px;
	margin-bottom: 92px;
}

.cart-total-page  .page-breadcrumb {
	padding: 34px 0;
}

.cart-total-page  .page-breadcrumb h2 {
	color: #1e1e1e;
	font-size: 48px;
	font-weight: 600;
}

.cart-total-page  .page-breadcrumb h2 span {
	color: #B0BCC2;
}

.cart-total-page  .page-breadcrumb a {
	color: #838383;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-right: 6px;
	position: relative;
}

.cart-total-page  .page-breadcrumb a.active {
	color: #1e1e1e;
}

.cart-total-page  .page-breadcrumb a:last-child:after {
	display: none;
}

.cart-total-page  .page-breadcrumb a:after {
	position: absolute;
	top: 1px;
	right: -5px;
	content: "/";
}

.checkout-form h3 {
	color: #1e1e1e;
	margin-bottom: 75px;
	padding-bottom: 14px;
	border-bottom: 2px solid #D0D7DB;
}

.checkout-form .in-name {
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 600;
	text-align: right;
	margin: 0;
	margin-top: 18px;
}

.checkout-form input[type=text] {
	width: 100%;
	border: 0;
	padding-bottom: 12px;
	border-bottom: 2px solid #E7EBED;
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 32px;
    background-color: transparent;
    outline: none;
}

.checkout-form .cart-select {
	margin-bottom: 35px;
}

.checkout-form .cart-select.country-usa {
	font-size: 16px;
	font-weight: 500;
}

.checkout-form .nice-select {
	border-radius: 0;
	border: none;
	font-size: 12px;
	color: #838383;
	height: 37px;
	width: 100%;
	border-bottom: 2px solid #E7EBED;
}

.checkout-form .nice-select:after {
	display: none;
}

.checkout-form .nice-select .list {
	margin-top: 3px;
	width: 100%;
	border-radius: 0;
}

.checkout-form .nice-select .option {
	color: #1e1e1e;
	font-weight: 600;
	font-size: 14px;
}

.checkout-form .diff-addr {
	margin-top: 12px;
}

.checkout-form .diff-addr input {
	width: auto;
	border: 0;
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.checkout-form .diff-addr input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.checkout-form .diff-addr label {
	color: #838383;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
	padding-left: 26px;
	position: relative;
}

.checkout-form .diff-addr label.active:after {
	border-color: #1e1e1e;
}

.checkout-form .diff-addr label:after {
	position: absolute;
	left: 0;
	top: 1px;
	height: 15px;
	width: 15px;
	border: 2px solid #D0D7DB;
	border-radius: 50%;
	content: "";
}

.order-table {
	background: #f9fbfb;
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
}

.order-table .cart-item {
	overflow: hidden;
	margin-bottom: 25px;
}

.order-table .cart-item span {
	display: inline-block;
	color: #838383;
	font-size: 12px;
	font-weight: 600;
}

.order-table .cart-item p {
	display: inline-block;
	float: right;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}

.order-table .cart-item p.product-name {
	font-size: 14px;
	font-weight: 600;
}

.order-table .cart-total {
	overflow: hidden;
	padding-top: 20px;
	border-top: 2px solid #D0D7DB;
	margin-top: 60px;
}

.order-table .cart-total span {
	display: inline-block;
	color: #838383;
	font-size: 12px;
	font-weight: 600;
}

.order-table .cart-total p {
	display: inline-block;
	float: right;
	color: #1e1e1e;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.payment-method {
	padding-top: 22px;
}

.payment-method h3 {
	margin-bottom: 60px;
	padding-bottom: 18px;
}

.payment-method ul {
	margin-bottom: 56px;
    padding: 0;
}

.payment-method ul li {
	color: #838383;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	margin-bottom: 25px;
}

.payment-method ul li img {
	margin-left: 20px;
}

.payment-method ul li label {
	cursor: pointer;
	position: relative;
}

.payment-method ul li label.active:after {
	border-color: #1e1e1e;
}

.payment-method ul li label:after {
	position: absolute;
	right: -35px;
	top: 4px;
	height: 15px;
	width: 15px;
	border: 2px solid #D0D7DB;
	border-radius: 50%;
	content: "";
}

.payment-method ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.payment-method button {
	color: #1e1e1e;
	background: transparent;
	border: none;
	font-weight: 600;
	width: 100%;
	padding: 16px;
	border: 2px solid #1e1e1e;
	border-radius: 50px;
	cursor: pointer;
	text-transform: uppercase;
    transition: 0.2s;
}

.payment-method button:hover {
    color: #fff;
    background-color: #1e1e1e;
}
